html , body , #root{
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color:#1e2432;
  height: 100%;
  margin: 0;
}

.main-container{
  background: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.418) , url);
}