.App-container{
  /* url() */
    background: linear-gradient( rgba(0,0,0,0.3) , rgba(0,0,0,0.418) , url() );
    background-position: center;
    background-size: cover;
    height: 100%;
}
.App-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-input{
  padding: 10px 20px;
  text-align: right;
  /* border-radius: 10px; */
  background-color: beige;
  color:white;
  font-size: 15px;
  margin: auto;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
