.navbar{
    background-color: rgb(221, 195, 47) !important;
    position: absolute !important ;
    width: 100%;
    background: transparent !important;
    color:gold !important;
    text-align: right;
}

.navbar a {
    color:gold !important;
}
.navbar button{
    color :gold !important;
    background-color: gold !important;
    border-radius: 0 100 0 100px;
}
